@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 96%;
    --foreground: 222 47% 11%;
    --card: 210 40% 96%;
    --card-foreground: 222 47% 11%;
    --popover: 210 40% 96%;
    --popover-foreground: 222 47% 11%;
    --primary: 217 33% 17%;
    --primary-foreground: 214 32% 91%;
    --secondary: 214 32% 91%;
    --secondary-foreground: 217 33% 17%;
    --muted: 214 32% 91%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 214 32% 91%;
    --accent-foreground: 217 33% 17%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 214 32% 91%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222 47% 11%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 214 32% 91%;
    --card: 222 47% 11%;
    --card-foreground: 214 32% 91%;
    --popover: 222 47% 11%;
    --popover-foreground: 214 32% 91%;
    --primary: 214 32% 91%;
    --primary-foreground: 217 33% 17%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 214 32% 91%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 214 32% 91%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 214 32% 91%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-gradient-to-br dark:from-slate-800 dark:to-background from-background to-slate-400 text-foreground antialiased transition-colors duration-300 ease-in-out scroll-smooth;
  }
}